@import url(style.css);

.timeline {
   color: black;
   background-color: white;
   width: 95%;
   padding: 0;
   margin: auto;
}

.timeline .view {
   display: block;
   position: relative;
   width: 100%;
   height: 20rem;
   padding: 0;
   margin: 0;
   border: 0.2rem solid black;
   border-radius: 0.5rem;
}

.timeline .view .events {
   position: absolute;
   width: 100%;
   height: 18rem;
   padding: 0;
   margin: 0;
   top: 0%;
}

.timeline .view .events .event {
   background-color: black;
   position: absolute;
   width: 0.1rem;
   height: 50%;
   padding: 0;
   margin: 0;
   bottom: 0%;
   transform: translateX(-50%);
}

.timeline .view .events .group {
   background-color: blue;
   position: absolute;
   width: 0.1rem;
   height: 3%;
   padding: 0;
   margin: 0;
   bottom: 55%;
   transform: translateX(-50%);
}

.timeline .view .events .restrict_marker {
   background-color: red;
   position: absolute;
   width: 0.2rem;
   height: 75%;
   padding: 0;
   margin: 0;
   bottom: 0%;
   transform: translateX(-50%);
}

.timeline .view .legend {
   position: absolute;
   width: 100%;
   height: 2rem;
   padding: 0;
   margin: 0;
   bottom: 0%;
   border-top: 0.15rem solid black;
}

.timeline .view .legend .marker_hour, .timeline .view .legend .marker_quarter {
   position: absolute;
   padding: 0;
   margin: 0;
   height: 1.5rem;
   bottom: 0%;
   transform: translateX(-50%);
}

.timeline .view .legend .marker_hour::after {
   content: " ";
   background-color: black;
   position: absolute;
   width: 0.15rem;
   height: 0.5rem;
   left: 50%;
   bottom: 100%;
   transform: translateX(-50%);
}

.timeline .view .legend .marker_quarter::after {
   content: " ";
   background-color: black;
   position: absolute;
   width: 0.15rem;
   height: 0.25rem;
   left: 50%;
   top: -0.5rem;
   transform: translateX(-50%);
}

.timeline .view .legend .marker_hour .label, .timeline .view .legend .marker_quarter .label {
   position: absolute;
   padding: 0;
   margin: 0;
   width: 100%;
   left: 50%;
   bottom: 0%;
   text-align: center;
   transform: translateX(-50%);
}

.timeline .controls {
   display: flex;
   position: relative;
   width: 100%;
   padding: 0;
   margin-top: 0.2rem;
   border: 0.2rem solid black;
   border-radius: 0.5rem;
   align-items: center;
}

#stats table {
   width: 98%;
   margin: auto;
   padding: 0;
   border-collapse: collapse;
}

#stats th {
   color: white;
   background-color: blue;
   text-align: left;
}

#stats .stat_column {
   width: 25%;
}

#stats tr:nth-child(odd) {
   background-color: lightgray;
}

#stats tr:hover {
   background-color: lightblue;
}

#event_list {
   display: block;
}

#event_list table {
   width: 98%;
   margin: auto;
   padding: 0;
   border-collapse: collapse;
}

#event_list th {
   color: white;
   background-color: blue;
   text-align: left;
}

#event_list tr:nth-child(odd) {
   background-color: lightgray;
}

#event_list tr:hover {
   background-color: lightblue;
}
