.deps/
.libs/
autom4te.cache/
Makefile
config.status
*.o
*.lo
*.la
*.log
.gitignore~
pocketsphinx/doc/doxyfile
pocketsphinx/libtool
pocketsphinx/pocketsphinx.pc
pocketsphinx/python/setup.py
pocketsphinx/src/programs/pocketsphinx_batch
pocketsphinx/src/programs/pocketsphinx_continuous
pocketsphinx/src/programs/pocketsphinx_mdef_convert
pocketsphinx/test/testfuncs.sh
sandman/.cproject
sandman/.metadata/
sandman/.project
sandman/config.h
sandman/configure.scan
sandman/build/
sphinxbase/doc/doxyfile
sphinxbase/include/config.h*
sphinxbase/include/stamp-h1
sphinxbase/include/stamp-h2
sphinxbase/libtool
sphinxbase/python/setup.py
sphinxbase/sphinxbase.pc
sphinxbase/src/sphinx_adtools/sphinx_cont_adseg
sphinxbase/src/sphinx_adtools/sphinx_cont_fileseg
sphinxbase/src/sphinx_adtools/sphinx_pitch
sphinxbase/src/sphinx_cepview/sphinx_cepview
sphinxbase/src/sphinx_fe/sphinx_fe
sphinxbase/src/sphinx_jsgf2fsg/sphinx_jsgf2fsg
sphinxbase/src/sphinx_lmtools/sphinx_lm_convert
sphinxbase/src/sphinx_lmtools/sphinx_lm_eval
sphinxbase/test/regression/testfuncs.sh
sphinxbase/test/unit/test_ad/test_ad_copy
sphinxbase/test/unit/test_ad/test_ad_read
sphinxbase/test/unit/test_alloc/test_ckd_alloc
sphinxbase/test/unit/test_alloc/test_ckd_alloc_abort
sphinxbase/test/unit/test_alloc/test_ckd_alloc_catch
sphinxbase/test/unit/test_alloc/test_ckd_alloc_fail
sphinxbase/test/unit/test_alloc/test_listelem_alloc
sphinxbase/test/unit/testfuncs.sh
