.deps/
.libs/
autom4te.cache/
m4/
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile*
missing
stamp-h1
*.o
*.lo
*.la
.gitignore~
sandman/.cproject
sandman/.metadata/
sandman/.project
sandman/config.h*
sandman/configure.scan
sandman/build/
sandman/source/sandman
